@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
$mobile:1000px;
$bcgWhite:rgba(255, 255, 255, 0.907);
$section-background-color:#FA7C91;

svg{
    z-index: -1000;
}

.section{
    transition: ease-out width 0.2s;
    width: 90vw;
    margin:0 auto;
    background:$bcgWhite;
    @include until($desktop) {
        width: 90vw;
      }
 
}
tbody td{
    text-align: center;
}
.table{
    padding:0.5em
}

.field{
    background-color: white;

}

// $section-padding:100px;
// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";